Repository skyrpex/cloudy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,mts,cts}": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

chore: remove unnecessary dependencies
  package.json
  playground/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: setup ava test runner
  package.json
  pnpm-lock.yaml
  readme.md
Due: prettier --write

chore: fix playground package name
  playground/package.json
Due: prettier --write

chore: define husky files as linguist-generated
  .gitattributes
Due: none

chore: use default yarn dependency protocol
  package.json
  packages/cdk/package.json
  packages/client-dynamodb/package.json
  packages/client-sns/package.json
  playground/package.json
  tools/json-codec/package.json
  yarn.lock
Due: prettier --write

feat: add DynamoEventSource
  packages/cdk/src/aws-lambda-event-sources/index.ts
  packages/cdk/src/aws-lambda/function.ts
  packages/cdk/src/index.ts
Due: eslint --fix, prettier --write

fix(cdk): add proper function events type
  packages/cdk/src/aws-lambda/function.ts
Due: eslint --fix, prettier --write

refactor(cdk): separate implementation between many files
  packages/cdk/src/aws-lambda-event-sources/dynamodb.ts
  packages/cdk/src/aws-lambda-event-sources/index.ts
  packages/cdk/src/aws-lambda/event-source.ts
  packages/cdk/src/aws-lambda/function-base.ts
  packages/cdk/src/aws-lambda/function.ts
  packages/cdk/src/aws-lambda/index.ts
Due: eslint --fix, prettier --write

fix(cdk): use propert DynamoStreamEventType for DynamoDB streams
  packages/cdk/src/aws-dynamodb/table.ts
  packages/cdk/src/aws-lambda-event-sources/dynamodb.ts
Due: eslint --fix, prettier --write

docs: add temporary logo
  README.md
  docs/cloudy.svg
Due: none

docs: resize cloudy logo
  docs/cloudy.svg
Due: none

feat(cdk): improve DynamoStreamEventType
  packages/cdk/src/aws-lambda-event-sources/dynamodb.ts
Due: eslint --fix, prettier --write

feat(cdk): add UpdateItemCommand
  packages/cdk/src/aws-dynamodb/table.ts
  packages/client-dynamodb/src/commands/index.ts
  packages/client-dynamodb/src/commands/update-item-command.ts
  packages/client-dynamodb/src/dynamodb-client.ts
  packages/client-dynamodb/src/expression-attributes.ts
  packages/client-dynamodb/src/index.ts
Due: eslint --fix, prettier --write

fix(client-dynamodb): export command inputs and outputs as types
  packages/client-dynamodb/src/index.ts
Due: eslint --fix, prettier --write

feat(cdk): export aws_lambda.StartingPosition
  packages/cdk/src/aws-lambda/index.ts
Due: eslint --fix, prettier --write

refactor(cdk)!: stop exporting all properties on the root level
  packages/cdk/src/index.ts
Due: eslint --fix, prettier --write

chore: upgrade dependencies
  packages/cdk/package.json
  playground/package.json
  tools/esm-node/package.json
Due: prettier --write

fix(client-dynamodb): update commands to the latest table type changes
  packages/client-dynamodb/src/commands/put-item-command.ts
  packages/client-dynamodb/src/commands/query-command.ts
  packages/client-dynamodb/src/commands/update-item-command.ts
Due: eslint --fix, prettier --write

fix(client-dynamodb): require marshalled object types
  packages/client-dynamodb/package.json
  packages/client-dynamodb/src/attribute-value.ts
  packages/client-dynamodb/src/commands/put-item-command.ts
  packages/client-dynamodb/src/commands/update-item-command.ts
  packages/client-dynamodb/src/marshall.ts
  playground/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor(cdk)!: use helpers to define the topic types
  packages/cdk/src/aws-sns/topic.ts
Due: eslint --fix, prettier --write

refactor!: add util-dynamodb helper and improve client-dynamodb
  packages/cdk/package.json
  packages/cdk/src/aws-dynamodb/attribute-value.ts
  packages/cdk/src/aws-dynamodb/marshall.ts
  packages/cdk/src/aws-dynamodb/table.ts
  packages/cdk/src/aws-lambda-event-sources/dynamodb.ts
  packages/cdk/src/aws-lambda-event-sources/sns.ts
  packages/cdk/src/aws-lambda-event-sources/sqs.ts
  packages/cdk/src/aws-sqs/queue.ts
  packages/client-dynamodb/src/commands/put-item-command.ts
  packages/client-dynamodb/src/commands/query-command.ts
  packages/client-dynamodb/src/commands/update-item-command.ts
  packages/client-dynamodb/src/marshall.ts
  packages/util-dynamodb/.eslintignore
  packages/util-dynamodb/index.ts
  packages/util-dynamodb/package.json
  packages/util-dynamodb/src/attribute-value.ts
  packages/util-dynamodb/src/expression-attributes.ts
  packages/util-dynamodb/src/index.ts
  playground/index.ts
  playground/package.json
  yarn.lock
Due: eslint --fix, prettier --write

docs: add some examples
  examples/.eslintignore
  examples/.gitignore
  examples/.prettierignore
  examples/README.md
  examples/package.json
  examples/src/1-hello-world/index.ts
  examples/src/2-publish-to-topic/index.ts
  examples/src/util.ts
  examples/tsconfig.json
  package.json
  tools/json-codec/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: validate yarn cache pre-commit
  .husky/pre-commit
Due: none

chore: use esm-node in ava tests
  tools/esm-node/package.json
  tools/json-codec/package.json
  turbo.json
  yarn.lock
Due: prettier --write

chore(string-codec): add readme file
  tools/string-codec/README.md
Due: none

docs: minify cloudy.svg
  docs/cloudy.svg
Due: none

wip
  packages/cdk/src/command.ts
  packages/json-codec/.eslintignore
  packages/json-codec/build.config.ts
  packages/json-codec/index.ts
  packages/json-codec/package.json
  packages/json-codec/readme.md
  packages/json-codec/src/index.test.ts
  packages/json-codec/src/index.ts
  packages/opaque-type/.eslintignore
  packages/opaque-type/build.config.ts
  packages/opaque-type/index.ts
  packages/opaque-type/package.json
  packages/opaque-type/readme.md
  packages/opaque-type/src/index.ts
  packages/string-codec/index.ts
  packages/string-codec/package.json
  packages/string-codec/src/index.ts
Due: eslint --fix, prettier --write

chore: wip
  packages/cdk/package.json
  packages/client-dynamodb/package.json
  packages/client-sns/package.json
  packages/json-codec/package.json
  packages/opaque-type/package.json
  packages/string-codec/README.md
  packages/util-dynamodb/package.json
  tools/eslint-plugin/package.json
  tools/esm-node/package.json
  yarn.lock
Due: prettier --write

chore: wooop
  .projenrc.eslint.1.ts
  .projenrc.eslint.ts
  .projenrc.ts
  .projenrc.turborepo.1.ts
  .projenrc.turborepo.ts
  .projenrc.typescript.1.ts
  .projenrc.typescript.ts
  .projenrc.workspace-project.1.ts
  .projenrc.workspace-project.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: wop
  .lintstagedrc.json
Due: prettier --write

chore: wop
  .gitattributes
  .gitignore
  .projen/files.json
  .projenrc.default-node-project.ts
  .projenrc.ts
  package.json
Due: eslint --fix, prettier --write

chore: wip
  .husky/pre-commit
  pnpm-lock.yaml
Due: none
